<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style"/>
<title>修改密码</title>
<link th:href="@{/static/css/global.css}" type="text/css" rel="stylesheet">
<link th:href="@{/static/css/flex.css}" type="text/css" rel="stylesheet">	
</head>
<body class="bg_brown">
	<div class="content bg_brown">
		<img class="logo" th:src="@{/static/images/logo.png}" height="214" width="290" alt="">
		<div class="login_box">
			<form id="jForm">
				<input placeholder="请输入手机号" id="phone" tabindex="1" type="text">
				<div class="flex_wrap flex_pack_sb" style="margin-bottom:1.2rem;">
					<input class="code_gain_l" id="code" placeholder="请输入验证码" tabindex="2" type="password">
					<div class="code_gain flex_wrap midCenter"></div>
				</div>
				<div class="eye_box" style="margin-bottom:1.2rem;">
					<input placeholder="请输入新密码" id="password" tabindex="4" type="password">
					<img th:src="@{/static/images/eye.png}"  alt="">
					<img class="eye_close" th:src="@{/static/images/eye_close.png}"  alt="">
				</div>
				<div class="eye_box" style="margin-bottom:10%;">
					<input placeholder="请再次输入新密码" id="rePwd" tabindex="4" type="password">
					<img th:src="@{/static/images/eye.png}"  alt="">
					<img class="eye_close" th:src="@{/static/images/eye_close.png}"  alt="">
				</div>
				<input class="submit_bottom_fixed" type="button" value="完成" tabindex="5">
			</form>
		</div>
	</div>
<script th:src="@{/static/js/jquery-1.11.3.min.js}"></script>
<script th:src="@{/static/js/global.js}"></script>
<script th:src="@{/static/js/time.js}"></script>
<!-- 倒计时插件设置开始 -->
<script type="text/javascript" th:inline="javascript">
	var ctx = /*[[@{/}]]*/;
	$(function() {
		var nameR = $(".code_gain");/*右边按钮class*/
		nameR.click(sendCode);
		nameR.html("获取验证码");
	});
	function sendCode() {
		// TODO 发送验证码
		var phone = $("#phone").val();
		if (!phone) {
			alert("请填写手机号");
			return;
		}
		// var reg = /^((13[0-9])|(15[^4,\D])|(18[0,5-9]))\d{8}$/;
		var reg = /^1\d{10}$/;
		if (!reg.test(phone)) {
			alert("手机号格式不正确");
			return;
		}
		var flag = true;
		$.ajax({
			url: ctx + "customer/sendCode",
			data: {"phone":phone},
			type: "post",
			async: false,
			success: function(result) {
				if (!result.success)
					alert(result.message);
				else
					flag = false;
			}
		});
		if (flag) return;
		$(".code_gain").unbind("click");
		$(".code_gain").SMS_Verification({
			nameL: $(".code"),/*输入框class*/
			time_overplus:60,/*倒计时时间多少秒*/
			innerfont: "获取验证码",/*右边按钮初始内容*/
			ifPass:1,/*验证结果，控制右边按钮是否可以点击*/
			sendM:function(){/*倒计时结束后执行的代码在这里填,如果不想要，函数为空即可*/
				console.log('倒计时结束喽~');
				$(".code_gain").bind("click", sendCode);
			}
		});
	}
</script>
<!-- 倒计时插件设置结束 -->
<script type="text/javascript" th:inline="javascript">
	var ctx = /*[[@{/}]]*/;
	$(".submit_bottom_fixed").bind("click", function() {
		var phone = $("#phone").val();
		var code = $("#code").val();
		var password = $("#password").val();
		var rePwd = $("#rePwd").val();
		if (!phone) {
			alert("请填写手机号");
			return;
		}
		// var reg = /^((13[0-9])|(15[^4,\D])|(18[0,5-9]))\d{8}$/;
		var reg = /^1\d{10}$/;
		if (!reg.test(phone)) {
			alert("手机号格式不正确");
			return;
		}
		if (!code) {
			alert("请填写验证码");
			return;
		}
		if (!password) {
			alert("请填写新密码");
			return;
		}
		if (password != rePwd) {
			alert("两次输入的密码不一致");
			return;
		}
		$.ajax({
			url: ctx + "customer/password",
			data: {"phone":phone,"code":code,"password":password},
			type: "post",
			success: function(result) {
				if (result.success) {
					window.location.href = ctx + "customer/login";
				} else {
					alert(result.message);
				}
			}
		});
	});
</script>
</body>
</html>
